/* Main */
main{
    grid-area: main;
    color: $contrast_color;
    font-family: $secondary_font;
    section{
        background-image: url(../images/banner_desktop.png);
        background-color: $primary_color;
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 8%;
        min-height: 100vh;
        h2 {
            font-weight: 100;
            font-size: 5rem;
            text-align: left;
            span { 
                font-weight: normal;
            }
        }
        h3 {
            font-weight: 300;
            font-size: 2.3rem;
            color: $secondary_color;
        }
        hr {
            width: 100px;
            height: 5px;
            border: none;
            background-color: $tertiary_color;
            opacity: 1;
        }
    }
}

/* Inicio */

.video{
    display: flex;
    justify-content: center;
    iframe {
        margin: 30px 0;
    }
}

.botones_inicio {
    display: flex;
    justify-content: start;
    a {
        button {
            background-color: $tertiary_color;
            border: none;
            border-radius: 20px;
            color: $contrast_color;
            font-size: .8rem;
            display: flex;
            align-items: center;
            span {
                margin: 10px 15px;
            }
            .vertical_line {
                display: inline-block;
                width: 1px;
                height: 2rem;
                background-color: $contrast_color;
            }
        }
        .boton_sinfondo {
            background-color: transparent;
        }
        &:hover {
            filter: brightness(0.85);
        }
    }   
}

.cards_inicio {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    a {
        color: $contrast_color;        
        width: 48%;
        background-color: $primary_color;
        filter: brightness(0.85);
        div {
            
            padding: 8%;
            h4 {
                font-weight: 200;
                font-size: 3rem;
            }
            i {
                font-size: 3rem;
                color: $tertiary_color;
            }
            &:hover {
                filter: brightness(0.75);
            }
        }
    }
    
}

/* Sobre Mi */

.config_cards_sobreMi {
    width: 20vw;
    padding: 20px;
    padding-top: 60px;
    margin: 10px 0;
    background-color: $contrast_color;
    background-repeat: no-repeat;
    background-size: 100%;
}

.cards_sobreMi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $primary_color;
    font-weight: 400;
    .especialidades {
        @extend .config_cards_sobreMi;
        background-image: url(../images/bg_especialidades.png);
    }
    .matricula {
        @extend .config_cards_sobreMi;
        background-image: url(../images/bg_matricula.png);
        hr {
            width: 100%;
            height: 1px;
            background-color: $primary_color;
            opacity: .5;
        }
    }
    .idiomas {
        @extend .config_cards_sobreMi;
        background-image: url(../images/bg_idiomas.png);
    }
    .enfermedades {
        @extend .config_cards_sobreMi;
        background-image: url(../images/bg_enfermedades.png);
    }
}

/* Contacto */

.cards_contacto {
    @extend .cards_inicio;
    a {       
        width: 30%;
        div {
            h4 {
                font-weight: 200;
                font-size: 2rem;
            }
            i {
                font-size: 2rem;
                color: $tertiary_color;
            }
        }
    }
    
}

/* Precio */

.cards_precio {
    display: flex;
    justify-content: start;
}

.config_card_precio {
    color: $primary_color;
    font-weight: 400;
    padding: 20px;
    padding-top: 90px;
    margin: 10px 20px 10px 0px;
    background-color: $contrast_color;
    background-repeat: no-repeat;
    background-size: 100%;
}

.sesion_regular {
    @extend .config_card_precio;
    background-image: url(../images/bg_precio.png);
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.sesion_gratis {
    @extend .config_card_precio;
    background-image: url(../images/bg_gratis.png);
}

// Ocultamos el checkbox real
input[type="checkbox"] {
    display: none;
  }
  
// Estilizamos el botón que actuará como disparador
label {
display: inline-block;
padding: 10px 20px;
background-color: $tertiary_color;
border: none;
border-radius: 20px;
color: $contrast_color;
font-size: .8rem;
div {
    background-color: $tertiary_color;
    border: none;
    border-radius: 20px;
    color: $contrast_color;
    font-size: .8rem;
    display: flex;
    align-items: center;
    .vertical_line {
        display: inline-block;
        width: 1px;
        height: 2rem;
        background-color: $contrast_color;
        margin: 0px 5px;
    }
}
}
  
// El texto que aparecerá
#text {
display: none;
height: min-content;
}

// Cuando el checkbox está seleccionado, mostramos el texto
input[type="checkbox"]:checked + label + #text {
display: block;
}




/* Opiniones */

.cards_opiniones {
    display: flex;
    flex-direction: column;
    align-items: center;
    .opinion { 
        width: 80%;
        margin: 10px;
        background-color: $primary_color;
        filter: brightness(0.85);
        padding: 4%;
        p {
            text-align: justify;
            font-size: 1.5rem;
            font-weight: 200;
        }
        p:last-child {
            text-align: right;
        }
        div {
            display: flex;
            justify-content: center;
            i {
                margin: 0 5px;
                color: #eecd35;
            }
        }
        .stars {
            flex-direction: row;
            justify-content: start;
            margin-bottom: 25px;
        }
    }
    div:last-child {
        margin-top: 50px;
    }
}
