/* Media queries */

/* Tablet */
@media screen and (max-width: 910px) {
    main {
        width: 100vw;
        section {
            min-height: 50vh;
        }
    }

    /* General */
    body {
        max-width: 100vw;
        grid-template-columns: 1fr;
        grid-template-areas:
        "nav"
        "main"
        "footer";
    }

    /* Header */
    header { 
        width: 100vw;       
        height: auto;
        text-align: left;
        background-color: $contrast_color;
        padding: 0px;
        hr {
            display: none;
        }
        nav {
            div {
                width: 100%;
                flex-direction: row;
                align-items: center; 
                a {
                    width: 80%;
                    div {
                        div {
                            flex-direction: column;
                            align-items: start;
                            h1 {
                                font-size: 3rem;
                            }
                            h2 {
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .imagen_perfil{
        width: 30%;
        margin-right: 5px;
    }
    .link_header {
        align-items: start;
        li {
            a {
                width: 100%;
            }
        }
    }

    /* Sobre Mi */
    .config_cards_sobreMi {
        width: 48%;
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
    /* Header */
     header {
        nav {
            div {
                a {
                    div {
                        div {
                            h1 {
                                font-size: 1.8rem;
                            }
                            h2 {
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    /* Inicio */
    .cards_inicio {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a {
            margin-bottom: 10px; 
            width: 90%;
            p {
                font-size: 1.5rem;
            }
        }
    }

    .botones_inicio {
        justify-content: center;
        width: 100%;
        a {
            button {
                font-size: 1.5rem;
            }
        }
    }

    .video {
        iframe {
            height: 50vw;
        }
    }

    /* Sobre Mi */
    .cards_sobreMi {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        font-size: 1.6rem;
        h4 {
            font-size: 2rem;
        }
        .especialidades, .matricula, .idiomas, .enfermedades {
            padding-top: 100px;
            width: 100%;
        }
    }

    /* Contacto */
    .cards_contacto {
        a {
            div{
                h4 {
                    font-size: 3rem;
                } 
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }

    /* Precio */
    .cards_precio {
        flex-direction: column;
        justify-content: center;
    }

    .config_card_precio {
        width: 95%;
        h4 {
            font-size: 2rem;
        } 
        p {
            font-size: 1.5rem;
        }
    }

    .sesion_regular {
        div {
            flex-direction: column;
            justify-content: start;   
            font-size: 1.3rem;
            label {
                margin-top: 10px;
                div {
                    flex-direction: row;
                }
            }
        }
    }

    .sesion_gratis {
        p:last-child {
            font-size: 1.8rem;
        }
    }

   #text {
    margin-top: 10px;
   }

    /* Opiniones */
    .cards_opiniones {
        .opinion {
            width: 100%;
            padding: 20px;
            p {
                text-align: left;
            }
        }
    }

    footer {
        width: 100vw;
    }
    
}